<!-- Mini Game -->

<div class="box box-info" minigamedirective ng-init="init('@ViewBag.gameaddress')" id="{{'_mini_game_'+ id}}">
    <div class="box-header" style="cursor: move;">
        <div class="pull-right box-tools">
            <div class="btn-group">
                <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bars"></i></button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a ng-click="remove()">Exit</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="box-body">
        <embed src="@ViewBag.gameaddress" type="application/x-shockwave-flash" />
    </div>
</div>
<!--/minigame-->