<script src="../dist/js/pages/dashboard.js"></script>
<!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
<div class="panel box box-primary" ng-controller="pendinggamecontroller as controller">
    <div class="box-header with-border">
        <a data-toggle="collapse" data-parent="#accordion" href="#pendingGamebody">
            Game
        </a>
    </div>
    <div id="pendingGamebody" class="panel-collapse collapse in" ng-init="init()">
        <div class="box-body">
            <p>Pending</p>
            <small style="color:blue;">{{pendingmessage}}</small>
            <ul class="todo-list ui-sortable" ng-model="pendings">
                <li ng-repeat="game in pendings" style="cursor:pointer;" ng-click="showStartGameModal(game.id)">
                    <span class="text">{{game.name}}</span>
                    <small class="label label-success"><i class="fa fa-clock-o"></i>{{game.hostname}}</small>                   
                </li>
            </ul>

            <hr />
            <p>
                Stated
            </p>
            <small style="color:blue;">{{startedmessage}}</small>
            <ul class="todo-list ui-sortable" ng-model="starteds">
                <li ng-repeat="game in starteds" style="cursor:pointer;" ng-click="showfinishgame(game.id)">
                    <span class="text">{{game.name}}</span>
                    <small class="label label-success"><i class="fa fa-clock-o"></i>{{game.hostname}}</small>
                </li>
            </ul>
        </div><!-- /.box-body -->
        <div class="box-footer clearfix no-border">            
            <button class="btn btn-default pull-right" ng-click="showmodalfindGame()"><i class="fa fa-search"></i> Find</button>
            <button class="btn btn-default pull-right" ng-click="showmodalcreateGame()"><i class="fa fa-plus"></i> Create</button>
        </div>
    </div>
</div>
