<aside class="main-sidebar" ng-controller="left_side_bar_controller as controller">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">Main</li>

            <li ng-click="showmodalcreateGame()" style="cursor: pointer;">
                <a>
                    <i class="fa fa-gamepad"></i> <span>Create Game</span>
                </a>
            </li>
            <li ng-click="showmodalcreateGroup()" style="cursor: pointer;">
                <a>
                    <i class="fa fa-users"></i> <span>Create Group</span>
                </a>
            </li>

            <li class="header">Search</li>
            <li>
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" ng-model="searchinput" name="q" class="form-control" placeholder="Search..." autocomplete="off" ng-enter="search()" />
                        <span class="input-group-btn">
                            <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>

                <div class="box-body">
                    <ul class="todo-list" style="overflow-y: auto;">
                        <li ng-repeat="result in results" ng-switch="result.type" ng-click="clickresult(result)"
                            style="cursor: pointer; padding: 5px 5px 5px 5px;">

                            <!-- case: user -->
                            <small ng-switch-when="1" class="label label-success"><i class="fa fa-user"></i> </small>
                            <span class="text" ng-switch-when="1">[User] </span>
                            <!-- case: group -->
                            <small ng-switch-when="2" class="label label-info"><i class="fa fa-users"></i></small>
                            <span class="text" ng-switch-when="2">[Group]</span>
                            <!-- case: game -->
                            <small ng-switch-when="3" class="label label-danger"><i class="fa fa-gamepad"></i></small>
                            <span class="text" ng-switch-when="3">[Game]</span>

                            <span class="text">{{result.name}}</span>
                        </li>
                    </ul>
                </div>
            </li>     
            
            <li class="treeview" style="cursor: pointer;" ng-init="initgame()">
                <a href="#">
                    <i class="fa fa-gamepad"></i> <span>Mini game</span>
                </a>
                <ul class="treeview-menu">
                    <li ng-repeat="game in minigame" ng-click="loadgame(game.hreft)" style="cursor: pointer;"><a href=""><i class="fa fa-gamepad"></i>{{game.name}}</a></li>

                </ul>
            </li>      

            <li class="treeview" style="cursor: pointer;">
                <a href="#">
                    <i class="fa fa-cog"></i> <span>Tool</span>
                </a>
                <ul class="treeview-menu">
                    <li style="cursor: pointer;"><a href=""><i class="fa fa-cog"></i>Setting</a></li>
                    <li style="cursor: pointer;" ng-click="showconvertsteam32tosteam64()"><a href=""><i class="fa fa-arrows-h"></i>SteamID32 to SteamID64</a></li>
                    <li style="cursor: pointer;" ng-click="showReportBug()">
                        <a>
                            <i class="fa fa-bug"></i> <span>Report bug/ Suggesion</span>
                        </a>
                    </li>
                </ul>
            </li>

          
        </ul>
        <!-- Sidebar toggle button-->
        <div data-toggle="offcanvas" role="button" id="_left_side_bar_show_button" style="margin-left: 230px; z-index: 10; position: fixed; bottom: 70px; position: fixed; border-radius: 5px 5px 5px 5px; padding: 10px 15px; font-size: 16px; z-index: 99999; cursor: pointer; color: rgb(60, 141, 188); box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 3px; background: rgb(255, 255, 255); }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; ">
            <a style="color: #0085C3;">
                <i class="fa fa-gear"></i>
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
        <!-- search form -->
        <!-- /.search form -->
    </section>
    <!-- /.sidebar -->
</aside>

<script src="~/scripts/acontroller/left_side_bar_controller.js"></script>