<!-- ===================== Game =========================-->
<!-- Create Game -->
<div class="modal fade" id="createGameChatModal" ng-controller="creategamemodalcontroller as controller">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Create game
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input autocomplete="off" type="text" ng-model="name" class="form-control" placeholder="Name">
                    <p style="color:red;">{{nameerror}}</p>
                </div>
                <div class="form-group">
                    <input autocomplete="off" type="password" ng-model="password" class="form-control" placeholder="password">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="createGame()">Create</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Find Game -->
<div class="modal fade" id="findGamemodal" ng-controller="findgamecontroller as controller">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="input-group">
                    <input autocomplete="off" ng-enter="findgroup()" type="text" id="_txt_creategroup_name" ng-model="inputsearch" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button ng-click="findgroup()" class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
            <div class="modal-body">
                <p style="color: red;">{{message}}</p>
                <ul class="todo-list ui-sortable">
                    <li ng-repeat="game in games" style="cursor: pointer;" ng-click="choosegroup(game.id, game.name)">
                        <span class="handle ui-sortable-handle">
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" value="" name="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
                        <span class="text">{{game.name}}</span>
                        <small class="label label-info">{{game.host_name}}</small>
                    </li>
                </ul>
                <div class="overlay" ng-show="isloading">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.Find Game  -->
<!-- Start Game -->
<div class="modal fade" id="startGameModal" ng-controller="startgamemodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="input-group">
                    <p>Game: {{name}}: {{id}}</p>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- Radian Team -->
                    <div class="col-lg-6">
                        <section class="box box-solid box-success" id="raidan_team_box">
                            <div class="box-header" style=" color: #000; background: #FFFFFF; background-color: #FFFFFF;">
                                <p>Radian Team</p>
                            </div>

                            <!-- quick email widget -->
                            <div class="connectedSortable ui-sortable box-body">
                                <div class="box box-solid box-info no-padding" ng-repeat="user in users" id="{{'team_player_'+user.id}}" style="padding: 0px; padding-bottom: 1px;">
                                    <div class="box-header ui-sortable-handle" style="cursor: move; padding: 0px; ">
                                        <img style="width: 30px; cursor: pointer;" alt="{{user.name}}" class="online ng-scope" ng-src="{{user.avatar}}" ng-click="privatechatuser(user.id)">
                                        <h3 class="box-title">{{user.name}}</h3>
                                    </div>
                                </div>
                            </div>
                        </section><!-- /.Left col -->
                    </div>

                    <!-- Dire Team -->
                    <div class="col-lg-6">
                        <section class="box box-solid box-danger">
                            <div class="box-header" style=" color: #000; background: #FFFFFF; background-color: #FFFFFF;">
                                <p>Dire Team</p>
                            </div>
                            <div class="connectedSortable ui-sortable box-body"></div>
                        </section>
                    </div>
                </div>
            </div>
           
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="startgame()">Start</button>
                <button class="btn btn-warning" ng-click="leavegame()">Leave</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.Start Game  -->
<!-- Finish Game -->
<div class="modal fade" id="finishGameModal" ng-controller="finishgamemodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="input-group">
                    <p>Game: {{name}}: {{id}}</p>
                </div>
            </div>
            <div class="modal-body">
                Player in game:
                <ul class="users-list clearfix" style="max-height:350px; overflow-y: auto;" ng-model="users">
                    <li ng-repeat="user in users" class="ng-scope no-padding" style="width: 30px;">
                        <img style="width: 30px; cursor: pointer;" alt="{{user.name}}" class="online ng-scope" ng-src="{{user.avatar}}" ng-click="privatechatuser(user.id)">
                        <small>{{user.hero}}</small>
                    </li>
                </ul>
                <p>{{result}}</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="confirm()">Confirm</button>
                <button class="btn btn-warning" ng-click="deny()">Deny</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.Start Game  -->
<!-- ===================== /Game =========================-->

<script src="~/scripts/acontroller/gamemodalcontroller.js"></script>

