<!-- Create Group -->
<div class="modal fade" id="createGroupChatModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Tạo nhóm
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input autocomplete="off" type="text" id="_txt_creategroup_name" name="q" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                    <input autocomplete="off" type="password" id="_txt_creategroup_password" class="form-control" placeholder="password">
                </div>
                              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="createGroup()">Tạo</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Find Group -->
<div class="modal fade" id="findgroupmodal" find-group>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="input-group">
                    <input autocomplete="off" ng-enter="findgroup()" type="text" id="_txt_creategroup_name" ng-model="inputsearch" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button ng-click="findgroup()" class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                </div>                
            </div>
            <div class="modal-body">
                <p style="color: red;">{{message}}</p>
                <ul class="todo-list ui-sortable">
                    <li ng-repeat="group in groups" style="cursor: pointer;" ng-click="choosegroup(group.id)">
                        <span class="handle ui-sortable-handle">
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" value="" name="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
                        <span class="text">{{group.name}}</span>
                        <small class="label label-info">{{group.host_name}}</small>                        
                    </li>
                </ul>
                <div class="overlay" ng-show="isloading">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>           
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.Find Group  -->

<!-- User Infor Box -->
<div id="_user_infor_view" class="box box-solid bg-aqua no-padding overlay" style="display:none; position: absolute; width: 250px; height:70px; top: 100px; left: 100px; z-index:10000;">
    <div class="box-body no-padding">
        <span style="float:left;">
            <img id="_modalUser_avatar" style="width: 70px;" />
        </span>
        <span>
            <label id="_modalUser_Name" class="modal-title">Loading..</label><br />
            <label>Điểm: </label><span id="_modalUser_score"></span><br />
            <label>Ngày tham gia:</label> <span id="_modalUser_joinday"></span>
        </span>
    </div>
</div>

<!-- /. User Infor Box  -->
<!-- Custom Modal -->
<div class="modal fade" id="customModal">
    <div class="modal-dialog">
        <div class="modal-content" id="_custom_modal_content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="customModal_header"></h4>
            </div>
            <div class="modal-body" id="_customModal_body">
            </div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
    function createGroup() {

        var name = $("#_txt_creategroup_name").val();
        var password = $("#_txt_creategroup_password").val();
        if (!name) {
            alert("Tên nhóm không được bỏ trống");
            return;
        }

        if (name.length > 254) {
            alert("Tên nhóm không được quá 254 ký tự");
        }
        angular.element($("#indexcontext")).scope().createGroup(name, password);
        $("#_txt_creategroup_name").val("");
    }

    function loadingCustomModal() {
        callCustomModal("Loading...", "<div class=\"overlay\"><i class=\"fa fa-refresh fa-spin\"></i></div>")
    }

    // function for custom modal
    function callCustomModal(header, body) {
        $("#_customModal_body").html(body);
        $("#customModal_header").html(header);
        $('#customModal').modal('show');
    }

    function closeCustomModal() {
        $('#_modalUser_Name').modal('hide');

    }

    // function for Modal User Infor

    function callUserInfor(data) {
        // data.username, data.linkavatar, data.birthday, data.Totalscore

        $("#_modalUser_Name").html(data.displayname);
        $("#_modalUser_avatar").attr("src", data.linkavatar);
        $("#_modalUser_score").html(data.Totalscore);
        $("#_modalUser_joinday").html(data.birthday);
        $("#_modalUser_steamid").html(data.steamid);


        $('#modaluserinfor').modal('show');
    }

    function closeUserInfor() {
        $('#customModal').modal('hide');
        $("#customModal_header").val("");
        $("#_customModal_body").html("");
    }
</script>
