<!-- User Infor Box -->
<div id="_user_infor_view" class="box box-solid bg-aqua no-padding overlay" style="display:none; position: absolute; width: 250px; height:70px; top: 100px; left: 100px; z-index:10000;">
    <div class="box-body no-padding">
        <span style="float:left;">
            <img id="_modalUser_avatar" style="width: 70px;" />
        </span>
        <span>
            <label id="_modalUser_Name" class="modal-title">Loading..</label><br />
            <label>Điểm: </label><span id="_modalUser_score"></span><br />
            <label>Ngày tham gia:</label> <span id="_modalUser_joinday"></span>
        </span>
    </div>
</div>

<!-- /. User Infor Box  -->
<!-- Custom Modal -->
<div class="modal fade" id="customModal">
    <div class="modal-dialog">
        <div class="modal-content" id="_custom_modal_content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="customModal_header"></h4>
            </div>
            <div class="modal-body" id="_customModal_body">
            </div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
  
    function loadingCustomModal() {
        callCustomModal("Loading...", "<div class=\"overlay\"><i class=\"fa fa-refresh fa-spin\"></i></div>")
    }

    // function for custom modal
    function callCustomModal(header, body) {
        $("#_customModal_body").html(body);
        $("#customModal_header").html(header);
        $('#customModal').modal('show');
    }

    function closeCustomModal() {
        $('#_modalUser_Name').modal('hide');

    }

    // function for Modal User Infor

    function callUserInfor(data) {
        // data.username, data.linkavatar, data.birthday, data.Totalscore

        $("#_modalUser_Name").html(data.displayname);
        $("#_modalUser_avatar").attr("src", data.linkavatar);
        $("#_modalUser_score").html(data.Totalscore);
        $("#_modalUser_joinday").html(data.birthday);
        $("#_modalUser_steamid").html(data.steamid);


        $('#modaluserinfor').modal('show');
    }

    function closeUserInfor() {
        $('#customModal').modal('hide');
        $("#customModal_header").val("");
        $("#_customModal_body").html("");
    }
</script>
