<!--Public Group Chat-->
<div class="tab-pane active" id="public_chat_0">
    <public-chat>
        <div id="publicchatbox-content" class="panel-collapse panel-collapse collapse in" ng-init="int()">
            <div class="box-body chat chatboxbody" id="{{'public_chat_box'}}" style="max-height:350px; overflow-y: auto;">
                <!-- chat item -->
                <div class="item" ng-repeat="message in messages">
                    <img ng-src="{{message.avatar}}" alt="user image" class="online" ng-mouseenter="viewUserInfor(message.userid)" ng-mouseleave="offUserInfor()" />
                    <p class="message">
                        <a class="name" style="cursor:pointer;">
                            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i>{{message.time}}</small>
                            {{message.name}}
                        </a>
                        <span class="message_content">{{message.content}}</span>
                    </p>
                </div>
                <!-- /.item -->

            </div><!-- /.chat -->

            <div class="box-footer">
                <div class="input-group">
                    <input class="form-control" id="txt_public_chat_input" placeholder="Type message..." ng-enter="sendmessage()" />
                    <div class="input-group-btn">
                        <button class="btn btn-success" id="bt_public_chat_box_send" ng-click="showemotions()"><i class="fa fa-smile-o"></i></button>
                    </div>
                </div>
            </div>
        </div>

    </public-chat>
</div>
<!-- /.box (chat box) -->
