<!--Friend List-->
<div class="box box-danger">
    <friends-box>
        <div class="box-header with-border">
            <h3 class="box-title">Steam Friend in Chat Hub</h3>
            <p><span class="label">{{$scope.message}}</span></p>           
        </div><!-- /.box-header -->
        <div class="box-body no-padding">
            <div class="overlay" ng-show="isloading">
                <i class="fa fa-refresh fa-spin"></i>
            </div>

            <ul class="users-list clearfix" id="public_chat_box" style="max-height:350px; overflow-y: auto;" ng-init="init()">
                <li ng-repeat="friend in friendlist" ng-switch="friend.isonline">
                    <img ng-switch-when="true" ng-src="{{friend.avatar}}" alt="Online" class="online">
                    <a ng-switch-when="true" class="users-list-name" style="color:green; cursor:pointer;" ng-click="createprivatechat(friend.id)">{{friend.name}}</a>
                    
                    
                    <img ng-switch-when="false" ng-src="{{friend.avatar}}" alt="Offline" class="offline">
                    <a ng-switch-when="false" class="users-list-name" ng-click="createprivatechat(friend.id)">{{friend.name}}</a>
                </li>
            </ul><!-- /.users-list -->
        </div><!-- /.box-body -->
        <div class="box-footer text-center">
            <a ng-click="updateFriends()" class="uppercase">refresh</a>
        </div><!-- /.box-footer -->

       
    </friends-box>
</div>