<!--Friend List-->
<div class="box box-danger">
    <friends-box>
        <div class="box-header ui-sortable-handle" style="cursor: move;">
            <h4 class="box-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#friend-list-box-content">
                    Steam Friend in Chat Hub {{$scope.message}}
                </a>
            </h4>

        </div><!-- /.box-header -->
        <div id="friend-list-box-content" class="panel-collapse collapse in">
            <div class="box-body no-padding">
                <ul class="users-list clearfix" style="max-height:350px; overflow-y: auto;" ng-init="init()">
                    <li ng-repeat="friend in friendlist" ng-switch="friend.isonline">
                        <img ng-switch-when="true" ng-src="{{friend.avatar}}" alt="Online" class="online">
                        <a ng-switch-when="true" class="users-list-name" style="color:green; cursor:pointer;" ng-click="createprivatechat(friend.id)">{{friend.name}}</a>


                        <img ng-switch-when="false" ng-src="{{friend.avatar}}" alt="Offline" class="offline">
                        <a ng-switch-when="false" class="users-list-name" ng-click="createprivatechat(friend.id)">{{friend.name}}</a>
                    </li>
                </ul><!-- /.users-list -->
                <div class="overlay" ng-show="isloading">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer text-center">
                <a ng-click="updateFriends()" class="uppercase">refresh</a>
            </div><!-- /.box-footer -->
        </div> 
    </friends-box>
</div>