<!--Friend List-->

<div class="box box-success">
    <friends-list-box>
        <div class="box-header ui-sortable-handle" style="cursor: move;">
            <i class="fa fa-comments-o"></i>
            <h3 class="box-title">Bạn bè (steam)</h3>
            <div class="pull-right box-tools">
                <!-- button with a dropdown -->
                <div class="btn-group">
                    <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bars"></i></button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a ng-click="updateFriends()">Cập nhật</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="box-body chat chatboxbody" id="public_chat_box" style="max-height:350px; overflow-y: scroll;" ng-init="init()">
            <p>{{$scope.message}}</p>
            <!-- chat item -->
            <div class="item" ng-repeat="friend in friendlist">
                <img ng-src="{{friend.avatar}}" alt="user image" class="online" ng-click="showPrivateChat(friend.id)"/>
                <p class="message">
                    <a class="name" style="cursor:pointer;">
                        {{friend.name}}
                    </a>
                </p>
            </div>
            <!-- /.item -->

        </div><!-- /.chat -->
    </friends-list-box>
</div><!-- /.box (chat box) -->
