<!--Home Index-->
@{
    ViewBag.Title = "Home Page";
}

<script src="~/scripts/aservices.js"></script>
<script src="~/scripts/acontrollers.v2.js"></script>
<script src="~/scripts/adirectives.js"></script>

<div id="indexcontext" ng-app="main_app" ng-controller="modulecontroller as controller" ng-init="controller.init('@ViewBag.userid')">
    <!-- Left col -->
    <section class="col-lg-2 connectedSortable" id="main_col_3_left">        
    </section>
    <!-- /.Left col -->

    <!--Miiddle collums-->
    <div class="col-lg-8 connectedSortable" id="main_col_6">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs" ng-controller="maintabscontroller as tabscontroller" ng-model="tabscontroller.tabs" id="homelisttabs">
                <li ng-repeat="tab in tabscontroller.tabs" id="{{'tab_header_panel' + tab.id}}">
                    <a href="#{{tab.id}}" data-toggle="tab" ng-click="tabonclick(tab.id)">{{tab.name}}</a>
                </li>
            </ul>
            <div class="tab-content" ng-model="controller.tabs" id="main_content_box">
            </div><!-- /.tab-content -->
        </div>
    </div>

    <!-- Right col -->
    <section class="col-lg-2 connectedSortable" id="main_col_3_left">       
        <div ng-include="'content/templates/game.html'"></div>
    </section>
    <!-- /.Right col -->
    @Html.Partial("modal")
    @Html.Partial("gamemodal")
    @Html.Partial("groupmodal")
    <div class="btn-group" style="float:right; position:absolute; right:20px; bottom: 70px;">
        <button class="btn btn-primary" aria-expanded="false" ng-click="showmodalcreateGroup()">Create group</button>
        <button class="btn btn-primary" aria-expanded="false" ng-click="showmodalfindgroup()">Find group</button>
    </div>

    <div class="overlay" ng-show="controller.isloading">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>

<!-- Custom Tabs -->
