@using dota2chathub.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">

        <div class="box box-info">
            <div class="login-logo"><h3>Đăng nhập</h3></div>
            <p class="login-box-msg">Đăng nhập bằng tài khoản Steam để sử dụng</p>
            <div class="box-body">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })               
            </div>
        </div>

    </div>
    <div class="col-lg-4"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}