@inherits System.Web.Mvc.WebViewPage
<script src="~/module/publicchat/controller_public_chat_box.js"></script>
<div class="box box-success">
    <div ng-controller="chatboxcontroller as controller">
        <div class="box-header" style="cursor: move;">
            <i class="fa fa-comments-o"></i>
            <h3 class="box-title">Chat</h3>
            <div class="box-tools pull-right" data-toggle="tooltip" title="Status">
                <div class="btn-group" data-toggle="btn-toggle">
                    <button type="button" class="btn btn-default btn-sm active"><i class="fa fa-square text-green"></i></button>
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-square text-red"></i></button>
                </div>
            </div>
        </div>
        <div class="box-body chat" id="public_chat_box">

            <!-- chat item -->
            <div class="item" ng-repeat="message in controller.messages">
                <img ng-src="{{message.avatar}}" alt="user image" class="online" />
                <p class="message">
                    <a href="#" class="name">
                        <small class="text-muted pull-right"><i class="fa fa-clock-o"></i>{{message.time}}</small>
                        {{message.name}}
                    </a>
                    {{message.content}}
                </p>
                <div class="attachment">
                    <h4>Attachments:</h4>
                    <p class="filename">
                        Theme-thumbnail-image.jpg
                    </p>
                    <div class="pull-right">
                        <button class="btn btn-primary btn-sm btn-flat">Open</button>
                    </div>
                </div><!-- /.attachment -->
            </div>
            <!-- /.item -->


        </div><!-- /.chat -->
        <div class="box-footer">
            <div class="input-group">
                <input class="form-control" id="txt_public_chat_input" placeholder="Type message..." />
                <div class="input-group-btn">
                    <button class="btn btn-success" id="bt_public_chat_box_send" ng-click="controller.clickfunction()"><i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>

    </div>


</div><!-- /.box (chat box) -->
<input type="hidden" id="displayname" />
